#info {
  position: absolute;
  top: 35px;
  right: 15px;

  width: 220px;

  color: rgba(255, 255, 255, 0.75);

  font-family: 'Press Start 2P', cursive;

  font-size: 8px;
  line-height: 1.7;

  background: rgba(0, 0, 0, 0.2);

  padding: 12px;

  border: 1px solid rgba(255,255,255,0.3);

  z-index: 10;

  pointer-events: none;
}

#controls {
  position: absolute;
  top: 35px;
  left: 15px;

  width: 220px;

  color: rgba(255,255,255,0.9);

  font-family: Arial;

  font-size: 12px;

  background: rgba(0,0,0,0.25);

  padding: 10px;

  border: 1px solid rgba(255,255,255,0.3);

  z-index: 20;
}

#controls input {
  width: 120px;
  margin-bottom: 6px;
}

#controls label {
  display:inline-block;
  width:70px;
}